---
- hosts: localhost 
  gather_facts: false
  connection: local 
  vars_files:
    - all_config.yml
  tasks:
  - name: "{{ inventory_hostname }}"
    vmware_host_ntp:
      hostname: "{{ vcenter_server }}"
      username: "{{ vcenter_user }}"
      password: "{{ vcenter_pass }}"
      validate_certs: False
      cluster_name: '{{ cluster_name }}'
      ntp_servers:
        - 8.8.8.8
        - yahoo.co.in
    delegate_to: localhost
